{% extends 'base/base.html' %}

{% block container %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6 mx-auto">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo quo 
                        dignissimos fugiat commodi dicta atque fuga veniam at odit error, non unde, omnis blanditiis 
                        quasi eos saepe assumenda quos. Fugit autem minus asperiores doloribus dolorum, 
                        necessitatibus quasi sint non cumque numquam rerum, aspernatur nulla?
                    </p>
            </div>
                
        </div>
    </div>

{% endblock %}

  